In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

In [151]:
URL = 'http://www.indeed.com/jobs?q=developer+%2420%2C000&l=Denver&start=20'
#conducting a request of the stated URL above:
page = requests.get(URL)
print(page)

<Response [200]>

In [152]:
#specifying a desired format of “page” using the html parser 
soup = BeautifulSoup(page.text, 'html.parser')
#printing soup in a more structured tree format that makes for easier reading
# print(soup.prettify())

In [153]:
def extract_job_title_from_result(soup):
    jobs = []
    for div in soup.find_all(name='div', attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={ "data-tn-element" : "jobTitle" }):
            jobs.append(a["title"])
    return(jobs)

In [167]:
jobss=extract_job_title_from_result(soup)

In [162]:
def extract_company_from_result(soup): 
    companies = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        company = div.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
            for span in sec_try:
                companies.append(span.text.strip())
                                
    return(companies)

In [165]:
company=extract_company_from_result(soup)

In [157]:
def extract_location_from_result(soup):
    locations = []
    spans = soup.findAll("span", attrs={"class": "location"})
    for span in spans:
        locations.append(span.text)
    return(locations)

In [172]:
loc = extract_location_from_result(soup)
len(loc)
len(company)

16

In [173]:
pd.DataFrame({ 'Job': jobss,'Company': company})

,Job,Company
0,Order Processing Assistant,The Company of Animals Ltd
1,Full Stack Developer,"Oakman Aerospace, Inc."
2,Cloud Platform Developer,Xero
3,Robotic Process Automation Developer RPA - USA,Accenture
4,NAGPRA Liaison and Associate Curator of Archae...,State of Colorado Job Opportunities
5,Firebase backend Developer / NoSQL Developer,Huck Adventures
6,Access Targeting and Compliance Manager - Entr...,National Security Agency
7,Accounting Assistant,The Company of Animals Ltd
8,Front-end Web Developer,Revive Design Studios
9,Developer Advocate,HashiCorp
10,QA TESTER,Ace Technologies
11,Software Developer,State of Colorado Job Opportunities
12,Sales Support,The Company of Animals Ltd
13,Front End Developer,Bayshore Solutions
14,Software Developer Mobile Applications,SCRAM Systems
15,Software Developer,SCRAM Systems